<h1> Forgot Password </h1>

<h2>
  Hello, {{ name }}
</h2>


<p>
  Your request to change your password has been received, click <a href = {{ url }}> here </a> bellow to change the password.

  If it wasn't you, consider change your password.
</p>
